* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  margin: 40px;
  background-color: rgb(206, 206, 206);
  border: solid 2px black;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.gameboard {
  margin-top: 20px;
  display: flex;
  width: 640px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.gameboard.overlay {
  filter: blur(4px);
}

.square {
  color: white;
  border-radius: 5px;
  background-color: rgb(140, 150, 155);
  display: flex;
  width: 200px;
  height: 200px;
  border: solid 2px black;
  font-size: 140px;
  justify-content: center;
  align-items: center;
}

.winner-overlay {
  z-index: 100;
  display: flex;
  position: absolute;
  top: 12%;
  width: 640px;
  height: 200px;
  border: solid 3px black;
  font-size: 70px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.winner-overlay.hidden {
  display: none;
}

form {
  margin-top: 40px;
  gap: 20px;
}

.player-input {
  height: 30px;
}

.player-names {
  width: 370px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-top: -30px;
  /* border: solid 2px red; */
}

.player-name {
  text-align: center;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid 2px black; */
  width: 190px;
  height: 100px;
  white-space: pre-line;
}

button {
  font-weight: 600;
  width: 80px;
  border: none;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 0px 0px; */
  border-radius: 50%;
}

.submit {
  background-color: #04aa6d;
  margin-left: 20px;
}

.reset-game {
  background-color: #ff0000;
}

button:active {
  transform: scale(0.98);
}
